@font-face {
  font-family: "Rounded Mplus 1c";
  src: url("./fonts/RoundedMplus1c-Black.woff2") format("woff2"),
    url("./fonts/RoundedMplus1c-Black.woff") format("woff"),
    url("./fonts/RoundedMplus1c-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rounded Mplus 1c";
  src: url("./fonts/RoundedMplus1c-Bold.woff2") format("woff2"),
    url("./fonts/RoundedMplus1c-Bold.woff") format("woff"),
    url("./fonts/RoundedMplus1c-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rounded Mplus 1c";
  src: url("./fonts/RoundedMplus1c-ExtraBold.woff2") format("woff2"),
    url("./fonts/RoundedMplus1c-ExtraBold.woff") format("woff"),
    url("./fonts/RoundedMplus1c-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rounded Mplus 1c";
  src: url("./fonts/RoundedMplus1c-Light.woff2") format("woff2"),
    url("./fonts/RoundedMplus1c-Light.woff") format("woff"),
    url("./fonts/RoundedMplus1c-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rounded Mplus 1c";
  src: url("./fonts/RoundedMplus1c-Regular.woff2") format("woff2"),
    url("./fonts/RoundedMplus1c-Regular.woff") format("woff"),
    url("./fonts/RoundedMplus1c-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rounded Mplus 1c";
  src: url("./fonts/RoundedMplus1c-Medium.woff2") format("woff2"),
    url("./fonts/RoundedMplus1c-Medium.woff") format("woff"),
    url("./fonts/RoundedMplus1c-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rounded Mplus 1c";
  src: url("./fonts/RoundedMplus1c-Thin.woff2") format("woff2"),
    url("./fonts/RoundedMplus1c-Thin.woff") format("woff"),
    url("./fonts/RoundedMplus1c-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(0, 0%, 95%);
  touch-action: pan-x pan-y;
}

#calculator {
  font-family: "Rounded Mplus 1c", sans-serif;
  background-color: hsl(0, 0%, 15%);
  border-radius: 15px;
  max-width: 30rem;
  overflow: hidden;
}

.output {
  width: 100%;
  padding: 0px;
  font-size: 4rem;
  text-align: left;
  border: none;
  background-color: hsl(0, 0%, 20%);
  color: white;
  margin: 0;
  min-height: 8.125rem;
  overflow-y: hidden;
}

.operand {
  word-wrap: break-word;
  word-break: break-all;
}

.previous {
  color: hsl(0, 0%, 60%);
  font-size: 2rem;
  height: 2rem;
  margin-left: 1.25rem;
  margin-top: 1.25rem;
}

.current {
  float: right;
  margin-right: 1.25rem;
  height: 4rem;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.625rem;
  padding: 1.563rem;
}

button {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 31.25rem;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  font-family: "Rounded Mplus 1c", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: hsl(0, 0%, 40%);
}

button:active {
  background-color: hsl(0, 0%, 50%);
}

.operator-btn {
  background-color: hsl(35, 100%, 55%);
}

.operator-btn:hover {
  background-color: hsl(35, 100%, 65%);
}

.operator-btn:active {
  background-color: hsl(35, 100%, 75%);
}

.deleteBtn {
  font-size: 2.2rem;
}

.top-row {
  background-color: hsl(0, 0%, 65%);
  color: hsl(0, 0%, 10%);
}

.top-row:hover {
  background-color: hsl(0, 0%, 75%);
}

.top-row:active {
  background-color: hsl(0, 0%, 85%);
}

.negative {
  font-size: 2.17rem;
}

@media (max-width: 500px) {
  html {
    font-size: 14px;
  }

  .negative {
    font-size: 2.135rem;
  }
}

@media (max-width: 420px) {
  html {
    font-size: 13px;
  }

  .negative {
    font-size: 2.111rem;
  }
}

@media (max-width: 395px) {
  html {
    font-size: 12px;
  }

  .negative {
    font-size: 2.08rem;
  }
}

@media (max-width: 365px) {
  html {
    font-size: 11px;
  }

  .negative {
    font-size: 2.045rem;
  }
}

@media (max-width: 330px) {
  html {
    font-size: 10px;
  }

  .negative {
    font-size: 2rem;
  }
}
